/* .counterBox{
 display: flex;
 column-gap: 40px;
} */




/* .typeText {
 position: relative;
 display: inline-block;
}

.typeText::before{
 width: 2px;
 height: 31px;
 background: black;
 content: '';
 position: absolute;
 top: 2px;
 right: -5px;
 animation: blink 2s infinite;
}
@keyframes blink{
 from{
  opacity: 1;
 }to{
  opacity: 0;
 }
} */
